*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

main{
    background-image: url(../Imagenes/color3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    margin: auto;
    /*flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

body{
    background-color: rgb(119, 21, 21);
    
}

#img2{
    height: 265px;
    width: 265px;
    vertical-align: middle;
    float: right;
    padding: 10px;

}
header{
    width: 100%;
    padding: 20px;
    /*flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    width: 250px;
    vertical-align: middle;
    padding: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#logo a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#menu1{
    margin: auto;
    width: 100%;
    background-color: black;
    /* flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu1 a{
    text-decoration: none;
    background-color: rgb(119, 21, 21);
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    /* flex hijo*/
    flex-grow: 1;
    flex-shrink: 1;
    
}
p{
    font-size: 17px;
}
#menu1 a:hover{
    background-color: palegoldenrod;
    color: black;
}

article{
    background-image: url(../Imagenes/color7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    /* flex padre*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex hijo */
    flex-grow: 1;
    flex-shrink:1;
    flex-basis: 70%;   
}

.contenido1{
    text-align: justify;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;

    /*flex hijo*/
    flex-grow: 1;
    flex-shrink: 1;
    
}
.contenido2{
    text-align: justify;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

    /*flex hijo*/
    flex-grow: 1;
    flex-shrink: 1;
    
}

.contenido3{
    text-align: justify;
    /*flex hijo*/
    flex-grow: 1;
    flex-shrink: 1;
}

.contenido4{
    text-align: justify;
    /*flex hijo*/
    flex-grow: 1;
    flex-shrink: 1;
}
#img3{
    height: 300px;
    width: 550px;
    padding: 5px;
    vertical-align: middle;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 15;
    box-shadow: 3px 3px 1px;
    box-shadow: 5px 5px 5;
    box-shadow: 5px 5px 5px;

}

#img15{
    height: 400px;
    width: 800px;
    padding: 5px;
    vertical-align: middle;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 15;
    box-shadow: 3px 3px 1px;
    box-shadow: 5px 5px 5;
    box-shadow: 5px 5px 5px;

}

#p2{
    text-align: right;
    float: right;
}

footer{
    padding-top: -50px;
    height: auto;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#img5{
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#img6{
    height: 40px;
    width: 183px;
    float: right;

}

#img7{
    height: 60px;
    width: 150px;
    float: right;

}

#img8{
    height: 40px;
    width: 184px;
    float: right;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials2{
    width: 100%;
    float: right;
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: right;
}

.socials2 li{
    margin: 0 10px;
}
.socials li{
    margin: 0 10px;
}

.footer-bottom{
    padding: 10px;
    text-align: center;
}

#tabla1 th{
    background-color: rgb(218, 161, 169);
}

#tabla1 td{
    background-color: rgb(233, 221, 118);
    text-align: center;
}
#tabla1{
    width: 30%;
    margin: auto;
    border: 3px solid rgb(119, 21, 21);
    border-collapse: collapse;
}

#tabla1 td,#tabla1 th{
    border: 1px solid rgb(119, 21, 21);

}

#tabla1 td:hover{
    background-color: rgb(192, 194, 233);
}
/* PARA TABLET */
@media screen and (max-width:900px)
{
        main{
            flex-direction: column;
        }

        header{
            flex-direction: column;
            padding: 0;
        }

        article{
            flex-direction: column;
            width: 100%;
        }

        #menu1{
            width: 100%;
        }

        aside{
            flex-direction: row;
        
        }

        footer{
            flex-direction: column;
            width: 100%;
        }

        #img15{
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        #img3{
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        #img6{
            flex-direction: column;
            width: 100%;
            
        }

        #img8{
            flex-direction: column;
            width: 100%;
            
        }
    }
/* PARA CELULAR*/

@media screen and (max-width:600px)
{
    aside{
        flex-direction: column;
    }    
}